# PyCity Schools Analysis

In [32]:
# Dependencies and Setup
import pandas as pd

In [33]:
school_data_df = pd.read_csv("./Resources/schools_complete.csv")
student_data_df = pd.read_csv("./Resources/students_complete.csv")

In [34]:
# printing the school DataFrame
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [35]:
# printing the student DataFrame
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [36]:
# Combining the all school data into a single dataset named all_data

all_data_df = pd.merge(school_data_df,student_data_df,how="left",on=["school_name"])
all_data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

# District Summary

In [37]:
# Calculating the total number of unique schools

unique_schools_total = len(all_data_df["school_name"].unique())
unique_schools_total

15

In [38]:
# Calculating the total number of students

students_total = all_data_df["student_name"].count()
students_total

39170

In [39]:
# Calculating the total budget

total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [40]:
# Calculating the Average math score
avg_math_score = all_data_df["math_score"].mean()
avg_math_score

78.98537145774827

In [41]:
# Calculating the Average reading score
avg_reading_score = all_data_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [42]:
#Calculating the percentage of students who passed math (math scores greather than or equal to 70)

passing_math_count = all_data_df[(all_data_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(students_total) * 100
passing_math_percentage

74.9808526933878

In [43]:
#Calculating the percentage of students who passed reading (reading scores greather than or equal to 70)

passing_reading_count = all_data_df[(all_data_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(students_total) * 100
passing_reading_percentage

85.80546336482001

In [44]:
#Calculating the percentage of students that passed both math and reading

passing_math_reading_count = all_data_df[
    (all_data_df["math_score"] >= 70) & (all_data_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(students_total) * 100
overall_passing_rate

65.17232575950983

In [45]:
# Creating a high-level snapshot of the district's key metrics in a DataFrame

district_summary =pd.DataFrame(
    { 
       
        "Total Schools":[unique_schools_total],
        "Total Students":[students_total],
        "Total Budget":[total_budget],
        "Average Math Score": [avg_math_score],
        "Average Reading Score":[avg_reading_score],
        "% Passing Math":[passing_math_percentage],
        "% Passing Reading":[passing_reading_percentage],
        "% Overall Passing" :[overall_passing_rate]         
    }
    
)

                                      
#Formatting the column values for district summary

district_summary["Total students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}".format)
district_summary["% Passing Reading"]=district_summary["% Passing Reading"].map("{:,.2f}".format)
district_summary["% Overall Passing"]=district_summary["% Overall Passing"].map("{:,.2f}".format)

# printing district_summary

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Total students
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17,"39,170"

# School Summary

In [46]:
#Selecting all of the school type

school_type = school_data_df.set_index(["school_name"])["type"]
#school_type

In [47]:
# Calculating the total student count per school

students_perschool = all_data_df["school_name"].value_counts()
#students_perschool

In [48]:
# Calculating the total school budget 
budget_perschool = all_data_df.groupby(["school_name"]).mean()["budget"]
#budget_perschool

/var/folders/lc/n_vmfzws5pz68jfpmg0k6t300000gp/T/ipykernel_38284/788773366.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  budget_perschool = all_data_df.groupby(["school_name"]).mean()["budget"]

In [49]:
# Calculating per capita spending per school

capita_perschool = budget_perschool / students_perschool
#capita_perschool

In [50]:
# Calculating the average test scores per school for Math

avg_math_score_perschool = all_data_df.groupby(["school_name"]).mean()["math_score"] 
#avg_math_score_perschool

/var/folders/lc/n_vmfzws5pz68jfpmg0k6t300000gp/T/ipykernel_38284/332149559.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_math_score_perschool = all_data_df.groupby(["school_name"]).mean()["math_score"]

In [51]:
# Calculating the average test scores per school for Reading

avg_reading_score_perschool = all_data_df.groupby(["school_name"]).mean()["reading_score"]
#avg_reading_score_perschool

/var/folders/lc/n_vmfzws5pz68jfpmg0k6t300000gp/T/ipykernel_38284/3381595350.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_reading_score_perschool = all_data_df.groupby(["school_name"]).mean()["reading_score"]

In [52]:
# Calculating the number of students per school with math scores of 70 or higher

passing_math_students_perschool = all_data_df[all_data_df["math_score"]>=70]

#passing_math_students_perschool

In [53]:
# Calculating the number of students per school with reading scores of 70 or higher

passing_reading_students_perschool = all_data_df[all_data_df["reading_score"]>=70]
#passing_reading_students_perschool

In [54]:
#Calculating the number of students per school that passed both math and reading with scores of 70 or higher

passing_math_and_reading_students = all_data_df[
    (all_data_df["reading_score"] >= 70) & (all_data_df["math_score"] >= 70)
]
# passing_math_and_reading_students_perschool = passing_math_and_reading_students.groupby(["school_name"]).size()

# passing_math_and_reading_students_perschool

In [55]:
# Calculating the passing rates


passing_percent_math_perschool = (passing_math_students_perschool.groupby(["school_name"]).count()["student_name"]/\
                                students_perschool)*100
passing_percent_reading_perschool = (passing_reading_students_perschool.groupby(["school_name"]).count()["student_name"]/\
                                students_perschool)*100
overall_passing_rate = (passing_math_and_reading_students.groupby(["school_name"]).count()["student_name"]/\
                                students_perschool)*100

In [56]:
# Creating a DataFrame called `per_school_summary` with columns for the calculations above.
#School Type	Total Students	Total School Budget	Per Student Budget	Average Math Score	
#Average Reading Score	% Passing Math	% Passing Reading	% Overall Passing
per_school_summary = pd.DataFrame(
    {
    "School Type":school_type,
    "Total Students":students_perschool,
    "Total School Budget":budget_perschool ,
    "Per Student Budget":capita_perschool,
    "Average Math Score":avg_math_score_perschool,
    "Average Reading Score":avg_reading_score_perschool,
    "% Passing Math":passing_percent_math_perschool,
    "% Passing Reading":passing_percent_reading_perschool,
    "% Overall Passing":overall_passing_rate   
})

# Formatting the column values 
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}".format)



per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33

# Highest-Performing Schools (by % Overall Passing)

In [60]:
top5_performing_schools = per_school_summary.sort_values(["% Overall Passing"],ascending = False)
top5_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

# Bottom Performing Schools (By % Overall Passing)

In [61]:
bottom5_performing_schools = per_school_summary.sort_values(["% Overall Passing"],ascending = True)
bottom5_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54