# PyCity Schools Analysis

In [103]:
# Dependencies and Setup
import pandas as pd

In [104]:
school_data_df = pd.read_csv("./Resources/schools_complete.csv")
student_data_df = pd.read_csv("./Resources/students_complete.csv")

In [105]:
# printing the school DataFrame
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [106]:
# printing the student DataFrame
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [107]:
# Combining the all school data into a single dataset named all_data

all_data_df = pd.merge(school_data_df,student_data_df,how="left",on=["school_name"])
all_data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

# District Summary

In [108]:
# Calculating the total number of unique schools

unique_schools_total = len(all_data_df["school_name"].unique())
unique_schools_total

15

In [109]:
# Calculating the total number of students

students_total = all_data_df["student_name"].count()
students_total

39170

In [110]:
# Calculating the total budget

total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [111]:
# Calculating the Average math score
avg_math_score = all_data_df["math_score"].mean()
avg_math_score

78.98537145774827

In [112]:
# Calculating the Average reading score
avg_reading_score = all_data_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [113]:
#Calculating the percentage of students who passed math (math scores greather than or equal to 70)

passing_math_count = all_data_df[(all_data_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(students_total) * 100
passing_math_percentage

74.9808526933878

In [114]:
#Calculating the percentage of students who passed reading (reading scores greather than or equal to 70)

passing_reading_count = all_data_df[(all_data_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(students_total) * 100
passing_reading_percentage

85.80546336482001

In [115]:
#Calculating the percentage of students that passed both math and reading

passing_math_reading_count = all_data_df[
    (all_data_df["math_score"] >= 70) & (all_data_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(students_total) * 100
overall_passing_rate

65.17232575950983

In [116]:
# Creating a high-level snapshot of the district's key metrics in a DataFrame

district_summary =pd.DataFrame(
    { 
       
        "Total Schools":[unique_schools_total],
        "Total Students":[students_total],
        "Total Budget":[total_budget],
        "Average Math Score": [avg_math_score],
        "Average Reading Score":[avg_reading_score],
        "% Passing Math":[passing_math_percentage],
        "% Passing Reading":[passing_reading_percentage],
        "% Overall Passing" :[overall_passing_rate]         
    }
    
)

                                      
#Formatting the column values for district summary

district_summary["Total students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}".format)
district_summary["% Passing Reading"]=district_summary["% Passing Reading"].map("{:,.2f}".format)
district_summary["% Overall Passing"]=district_summary["% Overall Passing"].map("{:,.2f}".format)

# printing district_summary

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Total students
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17,"39,170"

# School Summary

In [123]:
#Selecting all of the school type

school_type = school_data_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [132]:
# Calculating the total student count per school

per_school_students = all_data_df["school_name"].value_counts()
per_school_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [139]:
# Calculating the total school budget 
budget_per_school = all_data_df.groupby(["school_name"]).mean()["budget"]
budget_per_school

/var/folders/lc/n_vmfzws5pz68jfpmg0k6t300000gp/T/ipykernel_37228/565518632.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  budget_per_school = all_data_df.groupby(["school_name"]).mean()["budget"]

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [140]:
# Calculating per capita spending per school

per_school_capita = budget_per_school / per_school_students
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64